body {
	background-color: #008080;
}

h1 {
	color: #3aba69;
	font-family: 'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
	font-size: 64px;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 6px;
}


button[type="button"] {
    color:#050;
    font: bold 84% 'trebuchet ms',helvetica,sans-serif;
    background-color:#fed;
    border:1px solid;
    border-color: #696 #363 #363 #696;
}

input[type="radio"], input[type="checkbox"]{
      appearance: auto;
  background-color: #008080;
  margin: 0;
  font: bold 84% 'trebuchet ms',helvetica,sans-serif;
  color: #050;
  width: 1.15em;
  height: 1.15em;
  border:1px solid;
    border-color: #696 #363 #363 #696;
}

label {
font: bold 84% 'trebuchet ms',helvetica,sans-serif;
color: #fed;
p {
}
